<script lang="ts">
    import "../app.css";
    import Header from "./component/header";
</script>

<div
    class="w-screen h-screen overflow-hidden bg-neutral-800 grid grid-rows-[6rem,minmax(0px,auto)] lg:grid-rows-[4rem,minmax(0px,auto)]"
>
    <Header />
    <slot />
</div>
