<script lang="ts">
    import { fly } from "svelte/transition";
</script>

<div class="landing" transition:fly|local={{ duration: 0 }}>
    <slot />
</div>

<style lang="postcss">
    .landing {
        @apply grid grid-cols-4 grid-rows-3 h-full w-full;
    }
</style>
