<script lang="ts">
    import img from "$lib/assets/bg1.webp";
    import LandingFormat from "./components/landing-format.svelte";
</script>

<svelte:head>
    <title>Wisma Atlet Andan Jejama</title>
</svelte:head>
<LandingFormat key="index" {img}>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta architecto
    unde modi! Asperiores neque eveniet repellat magni quis, soluta non iure,
    sapiente eum impedit, provident doloremque tenetur? Possimus, aliquid quia!
</LandingFormat>
