<script lang="ts">
    export let link: string;
    import { page } from "$app/stores";
    import { linkCrossfade } from ".";

    const { send, receive } = linkCrossfade;

    $: active = $page.url.pathname === link;
</script>

<div class="header-link isolate">
    {#if active}
        <div
            in:receive={{ key: "link-bg" }}
            out:send={{ key: "link-bg" }}
            class="header-link__bg"
        />
    {/if}
    <a class="header-link__link" href={link}><slot /></a>
</div>

<style lang="postcss">
    .header-link {
        @apply grid grid-cols-1 grid-rows-1;
        @apply w-full;
        @apply lg:w-auto;
    }
    .header-link__bg,
    .header-link__link {
        @apply row-span-full col-span-full;
    }

    .header-link__bg {
        @apply w-full h-full bg-stone-500;
    }

    .header-link__link {
        @apply py-1 px-4 block z-10 text-center;
    }
</style>
