<script lang="ts">
    import HeaderLink from "./header-link.svelte";
</script>

<div class="header">
    <h1 class="header__brand">Wisma Atlet Andan Jejama</h1>
    <div class="header__link-wrapper">
        <HeaderLink link={"/"}>Tentang Kami</HeaderLink>
        <div class="w-0.5 bg-white/20 hidden lg:block" />
        <HeaderLink link={"/facility/football"}>Sepak Bola</HeaderLink>
        <HeaderLink link={"/facility/basketball"}>Basket</HeaderLink>
        <HeaderLink link={"/facility/badminton"}>Badminton</HeaderLink>
        <HeaderLink link={"/facility/futsal"}>Futsal</HeaderLink>
        <div class="w-0.5 bg-white/20 hidden lg:block" />
        <HeaderLink link={"/membership"}>Sewa Fasilitas</HeaderLink>
        <HeaderLink link={"/rent"}>Daftar Membership</HeaderLink>
    </div>
</div>

<style lang="postcss">
    .header {
        @apply h-24 bg-neutral-900 flex flex-col flex-shrink-0 items-center text-white z-10 isolate;
        @apply lg:flex-row lg:h-16 lg:px-4;
    }
    .header__brand {
        @apply font-bold tracking-widest text-2xl py-2;
        @apply lg:text-xl lg:py-0;
        @apply xl:text-2xl;
    }

    .header__link-wrapper {
        @apply w-full flex justify-evenly items-stretch gap-x-2  font-bold;
        @apply lg:ml-auto lg:w-auto lg:justify-start lg:text-lg;
    }
</style>
