<script lang="ts">
    import { quadIn, quadOut } from "svelte/easing";
    import { fade } from "svelte/transition";

    export let img: string;
    export let key: string;

    const duration = 1000;

    const outAnimate = (node: HTMLImageElement, params: unknown) => {
        let last = parseFloat(
            getComputedStyle(node).getPropertyValue("--progress")
        );

        if (isNaN(last)) {
            last = 0;
        }

        const total_progress = 1 - last;

        return {
            delay: 0,
            duration: duration,
            easing: quadIn,
            css: (_t: number, u: number) => {
                return `--progress: ${last + total_progress * u}`;
            },
        };
    };
    const inAnimate = (node: HTMLImageElement, params: unknown) => {
        return {
            delay: 0,
            duration: duration,
            easing: quadOut,
            css: (_t: number, u: number) => `--progress: ${-u}`,
        };
    };
</script>

<div class="landing-page__image-wrapper">
    {#key `${key}-image`}
        <img
            in:inAnimate
            out:outAnimate
            class="landing-page__image"
            alt="landing bg"
            src={img}
        />
    {/key}
</div>
<div class="landing-page__paragraph-wrapper">
    <div class="landing-page__paragraph-marker" />
    {#key `${key}-desc`}
        <p in:fade class="landing-page__paragraph">
            <slot />
        </p>
    {/key}
</div>

<style lang="postcss">
    .landing-page__image-wrapper {
        @apply col-span-full row-start-1 row-end-3 relative grid grid-cols-1 grid-rows-1;
    }
    .landing-page__image {
        @apply h-full w-full object-cover object-bottom col-span-full row-span-full;
        transform: translateX(calc(var(--progress) * 100vw));
    }

    .landing-page__paragraph-wrapper {
        @apply col-start-1 col-end-4 row-start-3 row-end-4 bg-neutral-900 px-4 py-8;
        @apply grid grid-cols-[4px,minmax(0,auto)] gap-x-4;
    }
    .landing-page__paragraph-marker {
        @apply w-full bg-white h-full;
    }
    .landing-page__paragraph {
        @apply text-white font-bold text-xl self-center;
    }
</style>
