<script lang="ts">
    import LandingFormat from "../../components/landing-format.svelte";
    export let data
</script>

<svelte:head>
    <title>{data.facility.id.toUpperCase()} | Wisma Atlet Andan Jejama</title>
</svelte:head>
<LandingFormat key={data.facility.id} img={data.facility.img}>
    {data.facility.desc}
</LandingFormat>
